*{
    margin: 0px;
    padding: 0px;
    
}
.header1{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
 
.c1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
    padding: 35px;
    align-items: center;


}
.c2{
    width: 35px;
    margin-left: 50px;
    font-size: 20px;
}
.c2 :hover{
    background-color: antiquewhite;

}
.c1{
    margin-left: 75px;
    /* border: 1px solid gray; */
    /* box-shadow: 1px px 5px gray; */
    /* border-radius: 40px; */
}
.header1 button{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-left:50px;
    width: 200px;
    /* height: 30px; */
    border: none;
    outline: none;
    border-radius: 50px;
    border: 1px solid black;
    background-color:white;
    align-items: center;

}
.header1 i{ 
    /* display: flex; */
    /* justify-content: center; */
    margin-left:5px;
    margin-bottom: 4px;
    width: 9px;
    height: 9px;
}

.c4{
    margin-left: 20px;
}
input[type=text]
{
    
    height: 20px;
    width: 150x;
    margin-left: 4px;
    margin-top: 4px;
    border: 0px;
    outline: none;
        
}

  /*----- section 2---------- */
.header2{
    background-color: #1e3932;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    flex: 0 0 auto;
    box-shadow: 2px 2px 2px black; 
}
.h22 h5{
    color: #f9f9f9;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    margin-left: 85px;
    text-align: center;
    padding: 15px;
}
.h21 button{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    text-align: center;
    width: 96px;
    height: 32px;
    margin: 20px;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50px;
    align-items: center;
    margin-left: 800px;
    
}
.h31{
    margin-top: 20px;
    margin-left: 100px;
    padding: 15px;
    font-family: SoDoSans_Bold,Helvetica,sans-serif!important;
    color: #1e3932;

}
.head3{
    display: flex;
    /* justify-content:center; */
    text-align: center;
    justify-content: first baseline;
    align-items:center;
}
.head3 img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 108px;
    width: 108px;
    object-fit: cover;
    border-radius: 50%;
    border: 0px solid white;
    cursor: pointer;
    margin-left: 105px;
    margin-top: 10px;
    padding: 10px;
}
.m1 b{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 2px;
    flex-direction: row;
    margin-left: 100px;
    flex-direction: column;
    

}
.head4{
    /* box-shadow: 0 2px 4px #00000012, 0 4px 5px #0000000f, 0 1px 10px #0000001a; */
    /* border-radius: 8px; */
    /* display: flex; */
    /* flex-direction: row; */
    height: 200px;
    /* font-size: 20px; */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
    /* background-position-y: 30%; */
    /* margin-top: 50px; */
    /* padding: 1px; */
    margin: 70px;
    /* background-image: url(https://preprodtsbstorage.blob.core.windows.net/cms/uploads/Rectangle_749_1_ad236cc780.png);       */
 }  

